body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Prompt', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;
    width: auto;
    height: 0;
    font-size: 20px;
}

.image {
    width: 5100;
    position: relative;
}

.image img {
    width: 100%;
}

.text {
    width: 100%;
    position: relative;
    margin-top: -35%;
    margin-left: 15px;
    margin-right: 0;
    padding: 15px, 25px;
}

.text h1 {
    text-align: left;
    font-size: 40px;
    padding-left: 600px;
}

.text h5 {
    text-align: left;
    font-size: 10px;
    padding-left: 600px;
}

.container {
    text-align: right height: 100px;
    top: -36px;
    left: 1600px;
}

.btn-primary {
    height: 30px;
    background: #FD6E0A;
    color: #ffffff;
    font-size: 12px;
    border-style: none;
    padding-left: 5px;
    margin-left: 36%;
}

/*------Second section-------*/

.failure {
    display: flex;
    margin-top: 450px;
    align-items: center;
    justify-content: center;
}


/*-----plan------*/

.my-plan {
    margin-top: 150px;
    margin-left: 220px;
    width: 80%;
    height: 80%;
    align-content: center;
}

.plan-title {
    text-align: center;
}

.plan-container {
    display: flex;
    justify-content: center;
    gap: 86px;
    border-style: none;
}

.skill-title {
    font-weight: 700px;
    font-size: 20px;

}

.skill-description {
    color: #737272;
}

.gallary {
    margin: 50px;
    float: left;
    width: 390px;
    padding: 100px, 2px;
}

.gallary img {
    width: 80px;
    height: 80px;
}

.plan-header {
    display: flex;
    width: 0;
    padding: 5px;
}

.header-pln {
    margin-top: 100px;
    align-items: center;
    text-align: center;
}

.plan-img {

    padding: 10px;
}

.parent {
    margin-top: 50px;
    margin-left: 280px;
    position: relative;
    top: 20;
    left: 20;
}

.image1 {
    position: relative;
    top: 20;
    left: 20;
}

.image2 {
    position: absolute;
    top: 20;
    left: 20;
}

.container2 {
    margin-left: 250px;
    margin-top: 50px;
    position: relative;
}

.bottom-left {
    color: #ffffff;
    font-size: 40px;
    bottom: 0px;
    right: 700px;
    position: absolute;
    top: 10px;
    padding-left: 50px;
    padding-right: 45px;

}

.button-call {
    background: #ffffff;
    color: #FD6E0A;
    font-size: 17px;
    position: absolute;
    top: 60%;
    border-style: none;
    padding: 10px;
    border-style: none;
    border-radius: 5px;
    padding-bottom: 10px;
    padding-right: 10px;

}

.contact {
    display: flex;
    gap: 600px;
    background: rgb(5, 5, 5);
    padding: 200px;

}

.future-title {
    color: #ffffff;
}

.subscribe-title {
    color: white;
    padding-left: 1px;
    padding-right: 1px;
}

.sec-des {
    font-size: 10px;
    color: white;
}

.btn-sub {
    margin: 25px;
    height: 30px;
    background: #FD6E0A;
    color: #ffffff;
    font-size: 15px;
    border-style: none;
    padding-left: 25px;
    padding-right: 25px;
}